@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  h1 {
    @apply text-4xl font-bold;
  }
  .teks-kecil {
    @apply text-gray-500 font-semibold text-sm md:text-base;
  }
  .explainer-text {
    @apply text-[14px] md:text-lg text-gray-600;
  }
  .filter-active {
    background-color: #18d26e;
    color: white;
  }

  .portfolio-item .group:hover .absolute {
    opacity: 1;
  }
  /* tailwind sale */
  .card-sale {
    @apply border-2 border-green-600 rounded-md p-2 flex flex-col flex-1 min-w-[300px] max-w-[500px];
  }

  /* custom scroll sale */
  .custom-scrollbar::-webkit-scrollbar {
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #15ff00;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
  }
  /* end custom scroll sale*/

  /* tailwind about */
  .svg-about {
    @apply bg-green-500 p-2 rounded-full;
  }
  .card-about {
    @apply p-6 bg-white shadow-lg rounded-lg transition-all transform hover:scale-105 hover:shadow-2xl hover:bg-green-200 duration-500 ease-in-out;
  }
  /* end tailwind about */

  /* start taiwlind test */
  .profil {
    @apply snap-center flex flex-col gap-4 bg-white p-6 rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300 mx-auto flex-1 min-w-[300px] max-w-[500px];
  }
  /* start tailwind FAQ's */
  .question {
    @apply bg-white p-3 px-5 rounded-md flex flex-col gap-5 shadow-md;
  }
  .btn-quest {
    @apply p-2 border-2 rounded-full hover:bg-green-300 transition-all duration-200;
  }
  .garis {
    @apply border-green-500 border;
  }
  .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }

  /* tailwind experience */
  .card-exp {
    @apply flex-1 min-w-[300px] max-w-[500px] bg-white p-3 space-y-3 shadow-xl rounded-xl flex flex-col justify-around;
  }
}
